

.wrapper {
    
    display: grid;
    grid-gap: .1em;
    width: 40vw;
    height: 40vh;
   
   
    
}
.originalStyle {
    background-color: green;
    height: 1fr;
    width: 1fr;

}
.changedToBlack {
    background-color: black;
    height: 1fr;
    width: 1fr;
}
